{% block transaction_list %}
	<sw-page class="flutterwave-transaction-list">
		<template slot="smart-bar-header">
			<h2>
				{% block transaction_list_smart_bar_header_title_text %}
					{{ $tc('list.textTransactionOverview') }}
				{% endblock %}
				{% block transaction_list_smart_bar_header_amount %}
					<span v-if="!isLoading" class="sw-page__smart-bar-amount">
						({{ total }})
					</span>
				{% endblock %}
			</h2>
		</template>
		<template #language-switch>
			<sw-language-switch @on-change="changeLanguage"></sw-language-switch>
		</template>
		
	{% endblock %}

	<template #sidebar>
		<sas-blog-vertical-tabs/>
	</template>

	

	<template #content>
		{% block flutterwave_list_content %}
			<sw-entity-listing v-if="transactions" :items="transactions" :repository="repository" :showselection="false" :columns="columns" allowcolumnedit="false" sortisallowed="true">

				{% block flutterwave_list_grid_columns_links %}
					<template slot="column-links" slot-scope="{item}">
						<a target="_blank" class="sw-data-grid__cell-value" href="https://dashboard.flutterwave.com/">
							<sw-icon name="default-web-link" color="#1abc9c"></sw-icon>
						</a>
						<router-link v-if="isUserCustomersViewer" class="sw-data-grid__cell-value" :to="{ name: 'sw.customer.detail.base', params: { id: item.customerId } }">
							<sw-icon name="default-avatar-single" color="#fc427b"></sw-icon>
						</router-link>
						<router-link v-if="isUserOrdersViewer" class="sw-data-grid__cell-value" :to="{ name: 'sw.order.detail.base', params: { id: item.orderId }}">
							<sw-icon name="default-shopping-basket" color="#3498db"></sw-icon>
						</router-link>
					</template>
				{% endblock %}

				{% block flutterwave_list_grid_columns_transactions %}{% endblock %}

			</sw-entity-listing>
		{% endblock %}

		{% block sas_blog_list_empty_state %}
			<sw-empty-state v-if="!isLoading && !total" :title="$tc('list.messageEmpty')">
				{{ $tc('sas-blog-author.list.messageEmpty') }}
			</sw-empty-state>
		{% endblock %}
	</template>


</sw-page>
